.navbar {
    text-transform: uppercase;
    font-family: Courier, monospace;
}

#menu li {
    display: inline;
}

#menu a {
    text-decoration: none;
}

#menu i {
    width: 30px;
    background-color: white;
    height: 20px;
}

.heading h1 {
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.heading a {
    color: white;
}

.heading ul {
    list-style-type: none;
}

.heading li {
    text-align: left;
}

.heading a:hover {
    text-decoration: none;
}

.navbar-nav li {
    text-align: justify;
}

.firstrow {
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
}

.topics {
    margin-top: 2px;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
}

.topics ul {
    list-style-type: none;
}

.topics li {
    display: inline;
}

.topics a {
    text-decoration: none;
    background-color: #323334;
    color: white;
    padding: 5px;
}

.d-flex {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.flex-fill {
    margin: 10px;
    height: 400px;
    font-family: Bookman, URW Bookman L, serif;
    background-color: white;
}

.flex-fill a {
    text-decoration: none;
    color: black;
}

.flex-fill a p {
    font-size: 30px;
    color: black;
}

.flex-fill img {
    padding: 3px;
    padding-left: 20px;
    padding-bottom: 4px;
}

.story3 a p {
    font-size: 15px;
}

.story3 {
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid black;
}

#footer {
    font-family: Bookman, URW Bookman L, serif;
}